#wrapper {
    width: 800px;
    margin: 0 auto;
}
header {
    box-sizing: border-box;
    padding: 45px 108px 0;
    height: 514px;
    background-image: url("../images/header-bg.png");
}
.logo::before {
    content: url("../images/logo.png");
}
.menu {
    width: 30px;
    height: 30px;
    border: 2px solid #d2d3d8;
    background-color: transparent;
    background-image: url("../images/bt-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
.initials h1 {
    font-family: Raleway-Heavy;
    font-size: 33px;
    color: #fff;
}
