body {
    background-color: #282828;
}
#wrapper {
    width: 800px;
    margin: 0 auto;
}
#wrapper > * {
    box-sizing: border-box;
    padding-left: 108px;
    padding-right: 108px;
}
/*header*/
#wrapper > header {
    padding-top: 45px;
    height: 514px;
    background-image: url("../images/header-bg.png");
    background-size: cover;
}
.logo {
    width: 19px;
    height: 25px;
    background-image: url("../images/logo.png");
    background-size: 19px 26px;
}
.menu {
    width: 30px;
    height: 30px;
    border: 2px solid #d2d3d8;
    background-color: transparent;
    background-image: url("../images/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
}
header .flex-container {
    display: flex;
    justify-content: space-between;
}
.initials-container {
    width: 274px;
    margin: 140px auto 0;
}
.initials-container h1 {
    padding: 15px 0;
    margin-bottom: 14px;
    font-family: Raleway;
    font-size: 33px;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    border-top: 2px solid #99b4be;
    border-bottom: 2px solid #99b4be;
}
.initials-container span {
    font-family: Roboto-Regular;
    font-size: 13px;
    color: #ced8dd
}
.span-container {
    display: flex;
    justify-content: space-between;
}

/*about*/
#wrapper > .about {
    padding: 82px 108px 75px 360px;
    height: 351px;
    background-image: url("../images/about-bg.png");
    background-size: 210px 300px;
    background-repeat: no-repeat;
    background-position: 108px 59px;
    background-color: #fff;
}
.about article {
    line-height: 1.8em;
    font-size: 8px;
    font-family: Roboto;
}
.about article h2 {
    font-size: 9px;
    font-weight: 700;
}

.about article p {
    margin-top: 20px;
}
.about .hire-me,
.contact .hire-me {
    border: none;
    width: 102px;
    height: 23px;
    font-weight: 500;
    font-size: 8px;
    color: #fff;
    background-color: #ff2b4a;
    margin-top: 32px;
}
    /*process*/
.process {
    padding-bottom: 62px;
    padding-top: 58px;
    font-family: Raleway;
    font-size: 8px;
    height: 334px;
    background-color: #f6f6f6;
}
.process h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.process .flex-container,
.experience .flex-container {
    width: auto;
    display: flex;
    justify-content: space-between;
}
.process button {
    font-size: 8px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    width: 142px;
    height: 135px;
}
.process p {
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    margin: 21px 0 21px;
}
.design,
.development,
.testing,
.launch {
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 20px;
}
.design {
    background-image: url("../images/design-bg.png");
    background-color: #10c6fc;
}
.development {
    background-image: url("../images/development-bg.png");
    background-color: #835aeb;
}
.testing {
    background-image: url("../images/testing-bg.png");
    background-color: #002453;
}
.launch {
    background-image: url("../images/launch-bg.png");
    background-color: #ff2b4a;
}
.process button span {
    display: block;
    margin-top: 50px;
}
/*experience*/
.experience {
    height: 398px;
    background-image: url("../images/header-bg.png");
    background-size: cover;
    padding-bottom: 62px;
    padding-top: 58px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 8px;
}
.work,
.education {
    box-sizing: border-box;
    padding: 30px 20px;
    width: 288px;
    height: 272px;
    background-image: url("../images/work-bg.png");
    background-size: cover;
}
.experience h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 33px;
}
.experience h3 {
    font-size: 9px;
    font-weight: 700;
    color: #f2f2f4;
    margin-bottom: 10px;
}
.experience h4 {
    font-weight: 500;
    color: #d6d8dd;
    margin-bottom: 10px;
}
.experience p {
    color: #aab2be;
    line-height: 1.5em;
}
.experience hr {
    border:none;
    background:#aab2be;
    height:1px;
}
/*works*/
.works {
    text-align: center;
    font-family: Raleway;
    height: 474px;
    background-color: #fff;
    padding-bottom: 62px;
    padding-top: 58px;
}
.works h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 26px;
}
.works p {
    font-family: Roboto;
    font-size: 8px;
    font-weight: 500;
    color: #737373;
    margin-bottom: 19px;
}
.works .flex-container {
    background-color: #f1f1f1;
    width: auto;
    height: 275px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}
.works div {
    width: 140px;
    height: 134px;
    background-color: #10c6fc;
}
.works div:nth-child(5) {
    width: 288px;
    background-color: #835aeb;
}
.works div:first-child {
    background-color: #10c6fc;
}
.works div:nth-child(2) {
    background-color: #835aeb;
}
.works .flex-container div:nth-child(3),
.works div:nth-child(6) {
   background-color: #002453;
}
.works div:nth-child(4),
.works div:nth-child(7)
{
    background-color: #ff2b4a;
}
/*clients-quote*/
.clients-quote {
    font-family: Roboto;
    padding-top: 66px;
    padding-bottom: 71px;
    height: 351px;
    background-color: #64cbc0;
}
.clients-quote .quote {
    width: 30px;
    height: 30px;
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-size: 30px;
    margin-bottom: 18px;
}
.clients-quote p:nth-child(2) {
    font-weight: 400;
    font-size: 8px;
    width: 233px;
    color: #234642;
    line-height: 1.6em;
    margin-bottom: 26px;
}
.clients-quote .signature {
    width: 85px;
    height: 33px;
    background-image: url("../images/signature-bg.png");
    background-repeat: no-repeat;
    background-size: 85px;
    margin-bottom: 15px;
}
.clients-quote p:nth-child(4) {
    font-size: 9px;
    color: #2d5b56;
    font-weight: 700;
    margin-bottom: 8px;
}
.clients-quote p:nth-child(5) {
    font-size: 7px;
    color: #2d5b56;
    font-weight: 400;
}
/*contact*/
.contact {
    font-family: Roboto;
    font-weight: 400;
    font-size: 8px;
    color: #949fad;
    height: 489px;
    background-image: url("../images/header-bg.png");
    background-size: cover;
    padding-top: 62px;
    padding-bottom: 62px;
}
.contact .flex-container {
    display: flex;
    height: 365px;
    width: auto;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
}
.contact .flex-container div {
    padding: 28px 20px;
    box-sizing: border-box;
    background-image: url("../images/work-bg.png");
    background-size: cover;
    height: 115px;
    width: 288px;
}
.contact .flex-container .message {
    height: 365px;
}
.contact h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.message h2 {
    margin-bottom: 29px;
}
.contact p {
    line-height: 1.5em;
}
.contact input,
.contact textarea {
    padding-left: 7px;
    border: 1px solid #c2c1cb;
    background: transparent;
    box-sizing: border-box;
    width: 247px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 8px;
    margin-bottom: 13px;
    color: #c2c1cb
}
.contact input {
    height: 25px;
}
.contact textarea {
    padding-top: 8px;
    height: 103px;
}
.contact .hire-me {
    margin-top: 7px;
    margin-left: 145px;
}


