body {
    background-color: #282828;
}
.wrapper {
    width: 800px;
    margin: 0 auto;
}
.wrapper > * {
    box-sizing: border-box;
}
header,
.about,
.span-container,
.flex-container,
.experience,
.contact,
footer{
    display: flex;
}
header,
.about,
.experience,
.contact,
footer {
    justify-content: center;
    align-items: center;
}
.process .flex-container,
.experience .flex-container,
.works .flex-container,
.contact .flex-container {
    justify-content: space-between;
}
.process, .works {
    padding: 58px 108px 0;
}
/*header*/
header {
    position: relative;
    height: 514px;
    background-image: url("../images/header-bg.png");
    background-size: cover;
}
.logo, .menu {
    position: absolute;
    top: 45px;
}
.logo {
    width: 19px;
    height: 25px;
    background-image: url("../images/logo.png");
    background-size: 19px 26px;
    left: 108px;
}
.menu {
    width: 30px;
    height: 30px;
    border: 2px solid #d2d3d8;
    background: url("../images/btn-bg.png") no-repeat center transparent;
    background-size: 15px 15px;
    right: 108px;
}
.initials-container {
    width: 274px;
    height: 80px;
}
.initials-container h1 {
    padding: 8px 0;
    font: 900 33px Raleway;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    border-top: 2px solid #99b4be;
    border-bottom: 2px solid #99b4be;
}
.initials-container span {
    font: 400 12px Roboto;
    color: #ced8dd
}
.span-container {
    justify-content: space-between;
    margin-top: 10px;
}
/*about*/
.about {
    height: 351px;
    background-color: #fff;
}
.about img {
    width: 216px;
    height: 292px;
    margin: 59px 49px 0 0;
}
.about article {
    width: 330px;
    height: 197px;
    padding-top: 13px;
    font: 400 8px/15px  Roboto;
}
.about article p:first-child {
    font: 700 9px Roboto;
}
.about article p:nth-of-type(2) {
    margin-top: 20px;
}
.about article p:nth-of-type(3) {
    margin-top: 26px;
}
.about .hire-me,
.contact .hire-me {
    border: none;
    width: 102px;
    height: 23px;
    font: 500 8px Roboto;
    color: #fff;
    background-color: #ff2b4a;
    margin-top: 29px;
}
    /*process*/
.process {
    font: 700 8px Raleway;
    height: 334px;
    background-color: #f6f6f6;
}
.process h2 {
    text-align: center;
    font: 700 20px Raleway;
}
.process .flex-container {
    margin-top: 30px;
}
.process .flex-container > div {
    width: 142px;
    height: 135px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 20px;
}
.process p {
    font: 500 8px Roboto;
    text-align: center;
    margin-top: 15px;
}
.design {
    background-image: url("../images/design-bg.png");
    background-color: #10c6fc;
}
.development {
    background-image: url("../images/development-bg.png");
    background-color: #835aeb;
}
.testing {
    background-image: url("../images/testing-bg.png");
    background-color: #002453;
}
.launch {
    background-image: url("../images/launch-bg.png");
    background-color: #ff2b4a;
}
.process div > span {
    display: block;
    text-align: center;
    margin-top: 85px;
}
/*experience*/
.experience {
    height: 398px;
    background-image: url("../images/header-bg.png");
    background-size: cover;
    font:400 8px/15px Roboto;
}
.experience .work {
    margin-right: 10px;
}
.work,
.education {
    box-sizing: border-box;
    padding: 30px 20px 0;
    width: 288px;
    height: 272px;
    background-image: url("../images/work-bg.png");
    background-size: cover;
    font: 400 8px Roboto;
    color: #aab2be;
}
.experience h3 {
    font: 700 13px Raleway;
    text-transform: uppercase;
    color: #fff;
}
.experience p:nth-of-type(1),
.experience p:nth-of-type(4){
    font: 700 9px Roboto;
    color: #f2f2f4;
    margin-top: 15px;
}
.experience p:nth-of-type(1){
    margin-top: 25px;
}
.experience p:nth-of-type(2),
.experience p:nth-of-type(5){
    font-weight: 500;
    color: #d6d8dd;
    margin-top: 8px;
}
.experience p:nth-of-type(3),
.experience p:nth-of-type(6) {
    margin-top: 6px;
}
.experience p:nth-of-type(3) {
    padding-bottom: 16px;
    border-bottom:1px solid #aab2be;
}
/*works*/
.works {
    padding-top: 55px;
    text-align: center;
    height: 474px;
    background-color: #fff;
}
.works h2 {
    font: 700 20px Raleway;
}
.works p {
    font: 500 8px Roboto;
    color: #737373;
    margin-top: 25px;
}
.works .flex-container {
    margin-top: 20px;
    background-color: #f1f1f1;
    width: auto;
    height: 275px;
    flex-flow: row wrap;
    align-content: space-between;
}
.works div {
    width: 140px;
    height: 134px;
    background-color: #10c6fc;
}
.works div:nth-child(5) {
    width: 288px;
    background-color: #835aeb;
}
.works div:first-child {
    background-color: #10c6fc;
}
.works div:nth-child(2) {
    background-color: #835aeb;
}
.works .flex-container div:nth-child(3),
.works div:nth-child(6) {
   background-color: #002453;
}
.works div:nth-child(4),
.works div:nth-child(7)
{
    background-color: #ff2b4a;
}
/*clients-quote*/
.clients-quote {
    padding: 66px 0 0 108px;
    height: 351px;
    background-color: #64cbc0;
}
.clients-quote .quote {
    width: 30px;
    height: 30px;
    background: url("../images/quote-bg.png") no-repeat;
    background-size: 30px;
}
.clients-quote p:nth-child(2) {
    font: 400 8px/15px Roboto;
    width: 233px;
    color: #234642;
    margin-top: 18px;
}
.clients-quote .signature {
    width: 85px;
    height: 33px;
    background: url("../images/signature-bg.png") no-repeat;
    background-size: 85px;
    margin-top: 21px;
}
.clients-quote p:nth-child(4) {
    margin-top: 14px;
    font: 700 9px Roboto;
    color: #2d5b56;
}
.clients-quote p:nth-child(5) {
    margin-top: 7px;
    font-size: 7px;
    color: #2d5b56;
}
/*contact*/
.contact {
    font: 400 8px/15px Roboto;
    color: #d4d7dc;
    height: 489px;
    background: url("../images/header-bg.png");
    background-size: cover;
}
.contact .flex-container {
    height: 365px;
    width: 586px;
    flex-flow: column wrap;
    align-content: space-between;
}
.contact .flex-container div {
    padding: 28px 20px 0;
    box-sizing: border-box;
    background-image: url("../images/work-bg.png");
    background-size: cover;
    height: 115px;
    width: 288px;
}
.contact .flex-container .message {
    height: 365px;
}
.contact h3 {
    font: 700 13px Raleway;
    color: #fff;
    text-transform: uppercase;
}
.contact input,
.contact textarea {
    padding-left: 7px;
    border: 1px solid #c2c1cb;
    background: transparent;
    box-sizing: border-box;
    width: 247px;
    font: 400 8px Roboto;
    color: #c2c1cb
}
.contact input:first-child {
    margin-top: 30px;
}
.contact input {
    margin-top: 14px;
    height: 25px;
}
.contact textarea {
    margin-top: 13px;
    padding-top: 8px;
    height: 103px;
}
.contact .hire-me {
    margin: 13px 0 0 146px;
}
.address p:nth-child(2), .phone p:nth-child(2), .web p:nth-child(2) {
    margin-top: 17px;
}
/*footer*/
footer {
    font: 400 6px Roboto;
    text-align: center;
    color: #8b8b8b;
    height: 86px;
    background: #222;
}
footer li {
    box-sizing: content-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: bottom;
    border: none;
    width: 10px;
    height: 10px;
    padding: 0 5px;
}
footer .container li:first-child {
    background-image: url("../images/tw-bg.png");
    border-right: 1px solid #8b8b8b;
}
footer .container li:nth-child(2) {
    background-image: url("../images/in-bg.png");
    border-right: 1px solid #8b8b8b;
}
footer .container li:nth-child(3) {
    background-image: url("../images/be-bg.png");
    border-right: 1px solid #8b8b8b;
}
footer .container li:nth-child(4){
    background-image: url("../images/al-bg.png");
}
footer p {
    margin-top: 10px;
}

